<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PetMonster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CEABEE41C8B7FBC00E5B1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CEABEF81C8B7FBC00E5B1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CEABF031C8B7FBC00E5B1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
